/* estilo de bavkgrounds  */
#home{
    background-image:url(/pictures/backIcons/sketched-arrows-couple-pointing-to-right-svgrepo-com.svg);
    background-repeat: repeat;
    background-size: 50px;
}
/* programmming */
#prog{
    background-image: url(/pictures/backIcons/icons8-javascript.svg);
    background-repeat: repeat;
    background-size: 50px;
}

#ciencia{
    background-image: url(/pictures/backIcons/web-development-svgrepo-com.svg);
    background-repeat: repeat;
    background-size: 50px;
}
